ul {
  list-style: none
}
.App {
  /*text-align: center;*/
  display: flex;
}

.App-sidebar {
  background-color: #222;
  height: 100vh;
  padding: 20px;
  color: white;
}

.App-body {
  font-size: large;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: relative;
}

.chat-modal {
  display: relative;
}

/* Message Stuffmove somwhere else eventuallt */
.Message {
  margin-top: 10px;
}

.ListMessage li:nth-child(even) {
  background-color: #eee;
}

.message-body {
  display: flex;
}

.message-name {
  margin-right: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
